**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/Logs
**/TestResults
**/*.log
**/etc
**/test
**/.abpstudio
**/*.DotSettings
**/*.sln.DotSettings
**/BookstoreQuery.sql
**/README.md
**/angular/node_modules
**/angular/.angular
**/angular/dist